<!DOCTYPE html>
<html>
	<head>
		<title>AuriPhotos</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/script.js"></script>
		<script type="text/javascript" src="../js/fonctionJs.js"></script>
		<!-- <script type="text/javascript" src="js/server.js"></script> -->

		<style
			background-color: black;></style>
	</head>

	<balise id="index"></balise>

	<body class="indexPage">
		<nav class="nav1">
			<!-- <br> -->
			<h1>Photographie</h1>
			<h3>
				<a href="#outils"> MEs anciens outils </a>&emsp;&emsp;&emsp;&emsp;
				<a href="#javascript"> Mes essais pratiques </a>&emsp;&emsp;&emsp;&emsp;
			</h3>
			
		
        <nav class="nav2">
			<balise id="outils"></balise>
			<br>
			<a href="#index"><h2>Mes anciens outils</h2></a>
			<p>							
            <a href="javascript:void(0)" onclick=pourcentage()><img src="../images/Miniatures/Portrait/marion (3).jpg" ></a></img>&emsp;
			<br>
			<p>
            <a href="#index">En haut</a>
            <br>
            <a href="../_index.html">Retour home</a>
                
		</nav>


		<nav class="nav3">
			<balise id="javascript"></balise>
			<br>
			<a href="#index"><h2>Mes essais pratiques</h2></a>
			<p>
			<a href="../view/essai.html?Astro&soleil"><img src="../images/Miniatures/Astro/vignette_soleil.jpg" title="Astro"></a></img>&emsp;	
			
			<a href="javascript:void(0)" onclick=maFonction()><img src="../images/Miniatures/Portrait/mathilde (1).jpg" >MaFonction</a></img>&emsp;			
			<a href="javascript:void(0)" onclick=maFonction2()><img src="../images/Miniatures/Portrait/mathilde (1).jpg" height="150px" width="100px">Ma fonction2</a></img>&emsp;				
			<a href="javascript:void(0)" onclick=test()><img src="../images/Miniatures/Portrait/mathilde (2).jpg" height="150px" width="100px">Test</a></img>&emsp;				
			<a href="javascript:void(0)" onclick=test2(essai)><img src="../images/Miniatures/Portrait/mathilde (2).jpg" >Test2</a></img>&emsp;				
			<a href="javascript:void(0)" onclick=newEmployee()><img src="../images/Miniatures/Portrait/mathilde (3).jpg" >NewEmploye</a></img>&emsp;				
			<a href="javascript:void(0)" onclick=employee()><img src="../images/Miniatures/Portrait/anais (2).jpg" ></a></img>&emsp;				
			<a href ="javascript:test()">Cliquez ici</a>
            
			<br>
			<a href ="javascript:affiche()">Cliquez</a>
			<p><br>
            <a href="#index">En haut</a>
            <br>
            <a href="../_index.html">Retour home</a>
			
		</nav>
	</body>

	<footer>
		<p class="pfooter">Site développé par Florian Aurigoth</p>
		<A class="icoMail" HREF="mailto:florian.aurigoth@yahoo.fr"><img src="https://findicons.com/files/icons/77/icandy_junior_toolbar/128/email_envelope.png" style="text-align: center" alt="Phone" width="2%"></A>&emsp;<br>
		<br>
	</footer>
</html>