<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
    <HEAD>
        <META NAME="description" CONTENT="Un exemple de Javascript pour un diaporama">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/styleAstro.css">
        <script type="text/javascript" src="../js/script.js"></script>
        
    </HEAD>
    <BODY BGCOLOR="#000000">
        <FONT SIZE="+1" FACE="Helvetica, Arial, sans serif">
        </FONT>
        <TABLE id="diaporamaCss">
            <TR>
                <TD id="MenuGauche">
                    <div id="titreDiap">
                            <script language = "JAVASCRIPT"  >
                                var parameters = location.search.substring(1).split("&");
                                var thisImg = parseInt(parameters[2], 10);
                                titrePhotoPano(parameters[0], parameters[1], thisImg);
                            </script>
                    </div>
                    
                    <div> 
                        <A HREF="javascript:newSlide(-1)" id="flecheGauche" class="transition_box">
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            var thisImg = parseInt(parameters[2], 10);
                            imagePrecedente(parameters[0], parameters[1], thisImg);
                        </SCRIPT>
                        </A>
                    </div>
                </TD>
                <TD id="imageCentrale">
                    <div id="imageCentr" class="fade-in"></div>
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            var thisImg = parseInt(parameters[2], 10);                            
                            accueilDiap(parameters[0], parameters[1], thisImg);
                        </SCRIPT>
                    </div>
                </TD>
                <TD id="MenuDroit" >
                    <div>
                        <A HREF="javascript:newSlide(1)" id="flecheDroite" class="transition_box" >
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            var thisImg = parseInt(parameters[2], 10);
                            imageSuivante(parameters[0], parameters[1], thisImg);
                        </SCRIPT>
                        </A>
                    </div>
                    
                    <div id="asideDiaporama" class="fade-in">                    
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            afficheInfoDiaporama(parameters[0], parameters[1], parameters[2]);
                        </SCRIPT>						
                    </div>
                </TD>
            </TR>        
            <!-- <section id="asideDiaporama" class="fade-in" width="25%">                
                <div>                    
                    <SCRIPT LANGUAGE = "JAVASCRIPT">
                        var parameters = location.search.substring(1).split("&");
                        afficheInfoDiaporama(parameters[0], parameters[1], parameters[2]);
                    </SCRIPT>						
                </div>
            </section> -->
        </TABLE>

        <!-- <SCRIPT LANGUAGE = "JAVASCRIPT">        
            thisImg = 0   
            var parameters = location.search.substring(1).split("&");
            var thisImg = parseInt(parameters[2], 10); 
            newSlide(direction);            
        </SCRIPT> -->
    </BODY>
    <br><br>
    <footer>
        <hr>
        <p class="pfooter">Site développé par Florian Aurigoth</p>
        <br>
	</footer>
</HTML>