<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
    <HEAD>
        <META NAME="description" CONTENT="Un exemple de Javascript pour un diaporama">
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/script.js"></script>
    </HEAD>
    <BODY BGCOLOR="#000000">
        <FONT SIZE="+1" FACE="Helvetica, Arial, sans serif">
        </FONT>
        <TABLE>
            <TR>
                <TD>
                        <A HREF="javascript:newSlide(-1)">
                            <div id="flecheGauche">
                            <SCRIPT LANGUAGE = "JAVASCRIPT">
                                var parameters = location.search.substring(1).split("&");
                                var thisImg = parseInt(parameters[2], 10);
                                imagePrecedente(parameters[0], parameters[1], thisImg);
                            </SCRIPT>
                        </div>
                </TD>
                <TD id="imageCentrale" width="100%">
                    <div id="imageCentr">
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            var thisImg = parseInt(parameters[2], 10);
                            accueilDiap(parameters[0], parameters[1], thisImg);
                        </SCRIPT>
                    </div>
                </TD>
                <TD>
                    <A HREF="javascript:newSlide(1)">
                        <div id="flecheDroite">
                        <SCRIPT LANGUAGE = "JAVASCRIPT">
                            var parameters = location.search.substring(1).split("&");
                            var thisImg = parseInt(parameters[2], 10);
                            imageSuivante(parameters[0], parameters[1], thisImg);
                        </SCRIPT>
                    </div>
                </TD>
            </TR>
        </TABLE>
        <!-- <TABLE id="boutonFerme">
            <TR>
                <TD>
                    
                </TD>
                <TD>
                    <input type="submit" name="Submit" value="Fermer la fen&ecirc;tre" onClick="window.close()" margin="auto" text-align="center">
                </TD>
                <TD>

                </TD>
            </TR>
        </TABLE> -->
        <SCRIPT LANGUAGE = "JAVASCRIPT">
            thisImg = 0
            imgCt = 41
            var parameters = location.search.substring(1).split("&");
            var thisImg = parseInt(parameters[2], 10);
           
            function newSlide(direction) {               
                if (document.images) {
                    thisImg = thisImg + direction;
                    if (thisImg < 1) {
                        thisImg = imgCt;
                    }
                    if (thisImg > imgCt) {
                        thisImg = 1;
                    }
                    document.slider.src = "../images/" + parameters[0] + "/" + parameters[1] +" (" + thisImg + ").jpg";
                    document.nextPicture.src = "../images/Miniatures/" + parameters[0] + "/" + parameters[1] + " (" + (thisImg + 1) + ").jpg";
                    document.prevPicture.src = "../images/Miniatures/" + parameters[0] + "/" + parameters[1] + " (" + (thisImg - 1) + ").jpg";
                }
            }
        </SCRIPT>
    </BODY>
</HTML>