<html>
	<head>
		<title>AuriSite </title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/styleAstro.css">
		<script type="text/javascript" src="../js/script.js"></script>
	</head>
	<body class="indexPage">
	<!--header-->
		<!-- <header>
			<a href="../index.html"><H1>L'astrophotographie</H1></a><p>
		</header>
		<nav> -->
	
	<!--barre menu horizontale-->
			<div class="div1" id="header">
				<h2>Objets Astrophotographiés</h2>
				<section>
				<ul>
					<li class="titremenu1">
						<a href="../soleil/Soleil.html" target="">Soleil</a>
					</li>
					<li class="titremenu2">
						<a href="../mercure/Mercure.html" target="">Mercure</a>
					</li>
					<li class="titremenu3">
						<a href="../venus/Venus.html" target="">Vénus</a>
					</li>
					<li class="titremenu4">
						<a href="../terre/Terre.html" target="">Terre</a>
					</li>
					<li class="titremenu5">
						<a href="../lune/Lune.html" target="">Lune</a>
					</li>
					<li class="titremenu6">
						<a href="../mars/Mars.html" target="">Mars</a>
					</li>
					<li class="titremenu7">
						<a href="../jupiter/Jupiter.html" target="">Jupiter</a>
					</li>
					<li class="titremenu8">
						<a href="../saturne/Saturne.html" target="">Saturne</a>
					</li>
					<li class="titremenu9">
						<a href="Objets_lointains.html" target="">Objets lointains</a>
					</li>
				</ul>
			

			</div>