<html>
	<head>
		<title>AuriSite </title>
		<meta charset="utf-8"/>
		<!-- <link rel="stylesheet" href="../css/style.css" /> -->
		<link rel="stylesheet" href="../css/styleAstro.css">
		<script type="text/javascript" src="../js/script.js"></script>
	</head>
	
	<body class="indexPage">
		<!-- <header> -->
			<!-- <a href="../index.html"><H1>La photographie</H1></a> -->
		<!-- </header> -->
		
		<nav>
			<!--barre menu horizontale-->
			<div class="div1" id="div1">
				<SCRIPT LANGUAGE = "JAVASCRIPT">
					var parameters = location.search.substring(1).split("&");
					menuHorizontal(parameters[0], parameters[1]);
				</SCRIPT>
			</div>
			<div id="diap">
				{# <a href="../index.html"><img src="../images/Icon/Home_64.png" title="Revenir à la racine du site"><br>Accueil</a></img>&emsp; #}
			</div>
			<div>
				<!--partie avec photo miniature-->
				<section id="div2" class="fade-in">
					<SCRIPT LANGUAGE = "JAVASCRIPT">
						var parameters = location.search.substring(1).split("&");
						afficheMiniature(parameters[0], parameters[1]);
					</SCRIPT>
				</section>
				<!--encart droit de presentation-->
				<section id="aside1" class="fade-in2" width="25%">
					<div>
						<SCRIPT LANGUAGE = "JAVASCRIPT">
							var parameters = location.search.substring(1).split("&");
							afficheInfo(parameters[0], parameters[1]);
						</SCRIPT>						
					</div>
					<div>
						<br><br>
						<a href="../index.html"><img id="home" src="../images/Icon/Home_64.png" width="50%" text-align="center" title="Revenir à la racine du site"><br>Accueil</a></img>&emsp;
					</div>
				</section>	
			</div>
		</nav>		
	</body>
</html>
