
<html>
	<head>
		<title>AuriSite </title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/script.js"></script>
	</head>
	<body class="indexPage">
		<!-- <h1><a href="../index.html">Photos</h1> -->
		<SCRIPT LANGUAGE = "JAVASCRIPT">
			var parameters = location.search.substring(1).split("&");
			affiche(parameters[0], parameters[1]);
		</SCRIPT>
		</div>
	</body>
	<footer>
		<p>
		<a href="../index.html"><img src="../images/Icon/Home_64.png" title="Revenir à la racine du site"></a></img>&emsp;
	</footer>
</html>